<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%=@recipe.name%></p>
	<p><%=@recipe.ingredients%></p>
	<p><%=@recipe.cook_time%></p>
	<form action=<%="/recipes/#{@recipe.id}/delete"%> method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<button>delete</button>
	</form>
</body>
</html>